<h1> Wlecome to my Twitter Profile</h1>
<div class "profile">
<h1> Andy Phillips </h1>
<img src="http://x.pac-12.com/sites/default/files/andyphillips.jpg"
     width=25%
     height=25%
     style="margin-left: 10px"/>
<h2> I am currently a full time student and I play college football for the University of Utah. </h2>
<a href="https://twitter.com/andydphillips"> My Twitter Account! </a>
<p> Code is very valuable and relevent in today's IS world.  I would like to broaden my skills and understand the
  ins and outs of basic coding. </p>
</div>
<img src="/public/winston.JPG" width="50%" height="50%"/>